
@font-face {
    font-family: "cursiveFont";
    src: url("/fonts/Waterfall/Waterfall-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

:root {
    --dark-bg: #111111;
    --secondary-dark: #222222;
    --main-color: #ff1e00;
    --variation: #DC3232;
    --light-grey: #AAAAAA;

    --default-font: monospace;
}

body {
    margin:0px;
    padding:0px;
}

#navBar {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;

    width: 100%;
    /* background-color: var(--dark-bg); */
    backdrop-filter: blur(10px);;
    opacity: 88%;
}

ul#navList li{
    display: inline;
    list-style-type: none;

    color:white;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;
    font-family: var(--default-font)
}

.navBarLink:visited, .navBarLink, .navBarLink:link{
    text-decoration: none;
    color: white;
}

.navBarLink:hover {
    color: var(--main-color);
    border-bottom: 1px solid RGBA(255, 255, 255, 0.3);
}

.navBarLink:active {
    color: white;
    border-bottom: thin solid var(--main-color);
}

#logo {
    max-height: 80px;
    padding-left: 90px;
    padding-right: 90px;
}

#home {
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    height: 100vh;
    width: 100vw;
    background-color: var(--dark-bg);

    background-image: url("/img/VCARB_02.png");
    background-blend-mode: exclusion;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    
    padding: 0px;
    margin: 0px;
}

#smallPreface {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: var(--variation);
    margin: 0px;
    padding:0px
}

#homeHeader {
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: white;
    padding: 0px;
    padding-bottom: 200px;
    margin: 0px;

}

#smallDesc {
    margin-top: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#about {
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    height: 100vh;
    width: 100vw;

    background-color: var(--dark-bg);
    background: linear-gradient(15deg,var(--main-color) 0%, rgba(35, 18, 16, 1) 45%, var(--dark-bg) 80%);
    
    padding: 0px;
    margin: 0px;
}

#aboutContainer {
    display: flex;
    align-items: center;

    height: 75%;
    width: 90%;

    background-image: url("/img/lotus_f1.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 60% auto;
}

#aboutTextContainer {
    display: flex;
    justify-content: center;
    align-content: space-evenly;

    flex-wrap: wrap;

    text-align: center;
    overflow: scroll;

    height: fit-content;
    width: 30%;
}

#aboutTextTitle {
    font-size: 60px;
    color: white;
    letter-spacing: 6px;

    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#aboutTextBody {
    font-size: 1rem;
    color: white;

    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.socialLink {
    height: 50px;
    width: 50px;

    margin-left: 20px;
    margin-right: 20px;

    border-radius: 25px;
    border: thin var(--variation) solid;
}
.socialLink:hover {
    background-color: var(--variation);
}

#instagram {
    background-image: url("/img/icons/instagram_icon.svg");
    background-size: contain;
}
#facebook {
    background-image:  url("/img/icons/facebook_icon.svg");
    background-size: contain;
}
#discord {
    background-image:  url("/img/icons/discord_icon.svg");
    background-size: contain;
}

#portfolio{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    gap: 10px;
    

    height: 100vh;
    width: 100vw;

    background-color: var(--dark-bg);
    background: linear-gradient(165deg,var(--main-color) 0%, rgba(35, 18, 16, 1) 45%, var(--dark-bg) 80%);
    
    padding: 0px;
    margin: 0px;
}
#portfolioTitle {
    font-size: 60px;
    color: white;
    letter-spacing: 6px;

    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#portfolioContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    overflow-y: scroll;

    height: 75%;
    width: 90%;
}

.portfolioImages {
    height: 300px;
    margin: 5px;
    border-radius: 5px;
}







#contact {
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    height: 100vh;
    width: 100vw;

    background-color: var(--dark-bg);
   
    padding: 0px;
    margin: 0px;
}
