html {
    scroll-behavior: smooth;
}

:root {
    --dark-bg: #111111;
    --secondary-dark: #222222;
    --main-color: #DF4343;
    --variation: #DC3232;
    --light-grey: #AAAAAA;

    --default-font: monospace;
}

body {
    margin:0px;
    padding:0px;
}

#navBar {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;

    width: 100%;
    background-color: var(--dark-bg);
    opacity: 88%;
}

ul#navList li{
    display: inline;
    list-style-type: none;

    color:white;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;
    font-family: var(--default-font)
}

.navBarLink {
    text-decoration: none;
}
.navBarLink:visited {
    text-decoration: none;
    color: white;
}

.navBarLink:hover {
    color: #DF4343;
    border-bottom: 1px solid RGBA(255, 255, 255, 0.3);
}

.navBarLink:active {
    color: white;
    border-bottom: thin solid var(--main-color);
}

#logo {
    max-width: 100px;
    padding-right: 90px;
}

#home {
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    height: 100vh;
    width: 100vw;
    background-color: var(--dark-bg);

    background-image: url("/img/VCARB_02.webp");
    background-blend-mode: exclusion;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    
    padding: 0px;
    margin: 0px;
}

#smallPreface {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: var(--main-color);
    margin: 0px;
    padding:0px
}

#homeHeader {
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: white;
    padding: 0px;
    margin: 0px;

}

#smallDesc {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}










#about {
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    height: 100vh;
    width: 100vw;

    background-color: var(--dark-bg);
    
    padding: 0px;
    margin: 0px;
}